@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.screen .overlap-group {
  position: absolute;
  width: 143px;
  height: 70px;
  top: 55px;
  left: 55px;
  border-radius: 16px;
}

.screen .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 21px 36px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1e0acb;
  border-radius: 16px;
  overflow: hidden;
}

.screen .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 21px 36px;
  position: absolute;
  top: 65px;
  left: 1678px;
  background-color: #1e0acb;
  border-radius: 16px;
  overflow: hidden;
}

.screen .text-wrapper-2 {
  position: absolute;
  width: 814px;
  top: 193px;
  left: 577px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 64px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .line {
  width: 1810px;
  height: 1px;
  top: 162px;
  left: 49px;
  position: absolute;
  object-fit: cover;
}

.screen .frame-2 {
  display: flex;
  width: 172px;
  align-items: center;
  gap: 10px;
  padding: 9px 3px 9px 12px;
  position: absolute;
  top: 213px;
  left: 55px;
  background-color: #1e0acb;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid;
  border-color: #b2b1b1;
}

.screen .text-wrapper-3 {
  position: relative;
  width: 116px;
  height: 37px;
  margin-top: -2.00px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .vector {
  position: relative;
  width: 19.33px;
  height: 10.1px;
}

.screen .overlap {
  position: absolute;
  width: 1810px;
  height: 705px;
  top: 351px;
  left: 55px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 2px solid;
  border-color: #b2b1b1;
}

.screen .overlap-2 {
  position: absolute;
  width: 1381px;
  height: 502px;
  top: 35px;
  left: 116px;
}

.screen .overlap-3 {
  position: absolute;
  width: 1380px;
  height: 501px;
  top: 0;
  left: 0;
}

.screen .img {
  width: 2px;
  height: 501px;
  top: 0;
  left: 342px;
  position: absolute;
  object-fit: cover;
}

.screen .line-2 {
  width: 1380px;
  height: 1px;
  top: 81px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.screen .line-3 {
  width: 1380px;
  height: 1px;
  top: 186px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.screen .line-4 {
  width: 1380px;
  height: 1px;
  top: 289px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.screen .line-5 {
  width: 1380px;
  height: 1px;
  top: 396px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.screen .line-6 {
  width: 1px;
  height: 501px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.screen .text-wrapper-4 {
  position: absolute;
  top: 20px;
  left: 85px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-5 {
  top: 125px;
  left: 85px;
  position: absolute;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-6 {
  top: 228px;
  left: 85px;
  position: absolute;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-7 {
  top: 335px;
  left: 85px;
  position: absolute;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-8 {
  top: 440px;
  left: 78px;
  position: absolute;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-9 {
  position: absolute;
  top: 20px;
  left: 406px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-10 {
  position: absolute;
  top: 125px;
  left: 406px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-11 {
  position: absolute;
  top: 228px;
  left: 406px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-12 {
  position: absolute;
  top: 335px;
  left: 406px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-13 {
  position: absolute;
  top: 440px;
  left: 406px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .line-7 {
  width: 1381px;
  height: 1px;
  top: 501px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.screen .line-8 {
  width: 1px;
  height: 501px;
  top: 0;
  left: 1380px;
  position: absolute;
  object-fit: cover;
}

.screen .group-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 91px;
  position: absolute;
  top: 44px;
  left: 1530px;
  background-color: #1e0acb;
  border-radius: 8px;
  overflow: hidden;
}

.screen .group {
  position: relative;
  width: 55px;
  height: 45px;
}

.screen .group-2 {
  position: absolute;
  width: 56px;
  height: 46px;
  top: 0;
  left: 0;
}

.screen .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 91px;
  position: absolute;
  top: 145px;
  left: 1530px;
  background-color: #1e0acb;
  border-radius: 8px;
  overflow: hidden;
}

.screen .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 91px;
  position: absolute;
  top: 246px;
  left: 1530px;
  background-color: #1e0acb;
  border-radius: 8px;
  overflow: hidden;
}

.screen .frame-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 91px;
  position: absolute;
  top: 347px;
  left: 1530px;
  background-color: #1e0acb;
  border-radius: 8px;
  overflow: hidden;
}

.screen .frame-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 91px;
  position: absolute;
  top: 448px;
  left: 1530px;
  background-color: #1e0acb;
  border-radius: 8px;
  overflow: hidden;
}

.screen .frame-7 {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 49px;
  left: 19px;
}

.screen .frame-8 {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 154px;
  left: 19px;
  background-color: #e6e6e6;
  border-radius: 8px;
}

.screen .frame-9 {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 259px;
  left: 19px;
  background-color: #e6e6e6;
  border-radius: 8px;
}

.screen .frame-10 {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 364px;
  left: 19px;
  background-color: #e6e6e6;
  border-radius: 8px;
}

.screen .frame-11 {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 469px;
  left: 19px;
  background-color: #e6e6e6;
  border-radius: 8px;
}

.screen .frame-12 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 21px 36px;
  position: absolute;
  top: 579px;
  left: 553px;
  background-color: #1e0acb;
  border-radius: 16px;
  overflow: hidden;
}

.screen .frame-13 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 21px 36px;
  position: absolute;
  top: 579px;
  left: 758px;
  background-color: #1e0acb;
  border-radius: 16px;
  overflow: hidden;
}

.screen .frame-14 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 21px 36px;
  position: absolute;
  top: 579px;
  left: 976px;
  background-color: #ff0004;
  border-radius: 16px;
  overflow: hidden;
}

.screen .text-wrapper-14 {
  position: absolute;
  top: 306px;
  left: 267px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-15 {
  position: absolute;
  top: 306px;
  left: 891px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-16 {
  position: absolute;
  top: 306px;
  left: 1665px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}
