@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
.screen {
  background-color: #faf7f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .overlap-group-wrapper {
  background-color: #faf7f7;
  width: 1920px;
  height: 1080px;
}

.screen .overlap-group {
  position: relative;
  width: 720px;
  height: 870px;
  top: 119px;
  left: 600px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 98.6px -14px #cacaca4f;
}

.screen .text-wrapper {
  position: absolute;
  top: 49px;
  left: 287px;
  font-family: "Segoe UI-Semibold", Helvetica;
  color: #1e0acb;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group {
  position: absolute;
  width: 532px;
  height: 107px;
  top: 176px;
  left: 95px;
}

.screen .div-wrapper {
  position: absolute;
  width: 530px;
  height: 72px;
  top: 35px;
  left: 0;
}

.screen .frame {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  gap: 10px 10px;
  padding: 20px 29px;
  position: relative;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
}

.screen .div {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Segoe UI-Semilight", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 19px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .group-wrapper {
  position: absolute;
  width: 530px;
  height: 107px;
  top: 295px;
  left: 95px;
}

.screen .group-2 {
  position: relative;
  width: 532px;
  height: 107px;
}

.screen .email {
  height: 72px;
}

.screen .div-2 {
  position: absolute;
  width: 363px;
  height: 32px;
  top: 783px;
  left: 197px;
}

.screen .text-wrapper-3 {
  position: absolute;
  width: 177px;
  top: 0;
  left: 182px;
  font-family: "Actor-Regular", Helvetica;
  color: #1e0acb;
  font-size: 24px;
  text-decoration: underline;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Actor-Regular", Helvetica;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-5 {
  position: absolute;
  top: 413px;
  left: 445px;
  font-family: "Actor-Regular", Helvetica;
  color: #1e0acb;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .frame-2 {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 107px;
  position: absolute;
  top: 494px;
  left: 207px;
  background-color: #1e0acb;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
}

.screen .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Segoe UI-Semibold", Helvetica;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
